@import url(./main.css);

nav {
    padding-left : 10px;
    width : calc(100% - 10px);
}
nav div.title{
    font-size: var(--font-size-header3);
    font-weight: bold;
    color: var(--color-alt);
    margin-left : 10px;
}

section {
    background-image: url(../img/bgimg.jpg);
    background-repeat: repeat-y;
    display:flex;
}

section div.column{
    width: calc(50% -10px);
    height:100%
}
section div.header{
    padding : 10px;
    font-size: var(--font-size-header2);
    color : var(--color-alt3);
    font-weight: bold;
}

section recent-workspace, section server-workspace{
    height:calc(100% - 55px);
    overflow: hidden scroll;
}

section recent-workspace::-webkit-scrollbar-track, section server-workspace::-webkit-scrollbar-track {
    padding: 2px 0;
    background-color: transparent;
}
section recent-workspace::-webkit-scrollbar,server-workspace::-webkit-scrollbar {
    width: 5px;
}

section recent-workspace::-webkit-scrollbar-thumb, server-workspace::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px var(--border-color1);
    background-color: #404040;
    border: 1px solid #000;
}
