@import url(./theme.css);
@import url(./fa.css);
html{
    height: calc(100% - 45px);
}
body {
    height: 100%;
    background-color: var(--color-main-light);
    font-family: var(--font-family-main);
    font-size: var(--font-size-body1);
    color: var(--color-main);
    margin: 0px;
  }

  section{
      height : 100%;
  }

.card1 {
    border : var(--border-width1) solid var(--border-color1);
    padding : 20px;
    font-size: var(--font-size-header2);
    background-color: var(--bg-color-alt5);
    color : var(--color-alt2);
}

nav {
    background-color: var(--bg-color-alt);
    padding : 4px 0;
    display: flex;
    width : 100%;
    color : var(--color-alt);
}
